<!--Navbar-->
<div class="row mt-3">

    <div class="col-12 col-lg-12">

        <mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark indigo">
            <div class="container-fluid">
                <div class="row align-items-center align-self-center">
                    <div class="col-4 col-lg-8">
                        <mdb-navbar-brand class="custom-navbar">Welkom
                            {{loggedinUser.forename}}!</mdb-navbar-brand>
                    </div>
                    <div class="col-8 col-lg-4">
                        <button class="btn-sm float-right" mdbBtn color="danger"
                            (click)="LogOut($event)"
                            mdbWavesEffect>Log
                            uit</button>
                        <div (click)="navigateToProfilePage()">
                            <ng-container *ngIf="profilePicture; else
                                noProfilePicture">
                                <img class="img-fluid rounded-circle
                                    float-right"
                                    [src]="profilePicture">
                            </ng-container>
                            <ng-template #noProfilePicture>
                                <img class="img-fluid rounded-circle
                                    float-right"
                                    src="../../../../assets/profile-placeholder.jpg">
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </mdb-navbar>

    </div>
</div>